<app-title title="Defer Triggers" />

<section>
  <h1 class="text-xl">Interacciones</h1>
  <hr class="my-2">
  @defer (on interaction) {
  <app-heavy-loader-fast cssClass="bg-blue-500 h-20">
    <span>On Interaction</span>
  </app-heavy-loader-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-500">
    Click en el div
  </div>
  }
</section>



<button #btnInteraction class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white my-2">
  Click me
</button>
<section>
  <hr class="my-2">
  @defer (on interaction (btnInteraction)) {
  <app-heavy-loader-fast cssClass="bg-blue-500 h-20">
    <span>On Interaction</span>
  </app-heavy-loader-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-500">
    Placeholder div
  </div>
  }
</section>



<section>
  <hr class="my-2">
  @defer (on hover) {
  <app-heavy-loader-fast cssClass="bg-blue-500 h-20">
    <span>On Hover</span>
  </app-heavy-loader-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-500">
    Placeholder div
  </div>
  }
</section>




<section>
  <hr class="my-2">
  @defer (on timer(2000)) {
  <app-heavy-loader-fast cssClass="bg-green-500 h-20">
    <span>On Timer</span>
  </app-heavy-loader-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-500">
    2 segundos
  </div>
  }
</section>




<section>
  <hr class="my-2">
  @defer (on hover; prefetch on idle) {
  <app-heavy-loader-fast cssClass="bg-green-500 h-20">
    <span>On Hoverm idle</span>
  </app-heavy-loader-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-500">
    Hover
  </div>
  }
</section>