<p-panel [showHeader]="true" header="Pipes poco comunes" class="p-2">
  <p>Pipes incluidos en Angular - Usualmente incluidos en el common</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        Saludos {{ name }}, es un placer
        {{ gender | i18nSelect : invitationMap }} a nuestro evento.
      </p>
      <p-button (onClick)="changeCliente()" label="Cambiar Persona"> </p-button>
    </p-fieldset>

    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        Saludos {{ name }}, es un placer
        {{ gender | i18nSelect : invitationMap }} a nuestro evento.
      </p>
      <p-button (onClick)="changeCliente()" label="Cambiar Persona"> </p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nPrural Pipe" [toggleable]="true">
      <p>Actualmente {{ clientes.length | i18nPlural : clientesMap }}</p>
      <p-button label="Borrar cliente" (onClick)="deleteClients()"></p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre>{{ clientes }}</pre>

      <b>Original 0:2</b>
      <pre>{{ clientes | slice : 0 : 2 }}</pre>

      <b>Original 1:2</b>
      <pre>{{ clientes | slice : 1 : 2 }}</pre>

      <b>Original 0:-2</b>
      <pre>{{ clientes | slice : 0 : -6 }}</pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true">
      {{ person | json }}
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
      <ul *ngFor="let item of person | keyvalue">
        <b>{{ item.key | titlecase }}: {{ item.value }}</b>
      </ul></p-fieldset
    >
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <pre *ngIf="!(myObservableTimer | async)">Resolviendo observable</pre>
      <pre>{{myObservableTimer | async}}</pre>

      <pre *ngIf="!(promiseValue | async)">Resolviendo promesa</pre>
      <pre>{{promiseValue | async}}</pre>
    </p-fieldset>
  </div>
</div>
