<div id="principal" class="flex flex-column">
  <span class="text-lg mb-4 text-center">Register</span>

  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="Nombre de usuario">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="Contraseña">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input type="text" matInput placeholder="Nombre completo">
  </mat-form-field>


  <div class="botoncito">
    <button mat-button mat-raised-button color="primary"><mat-icon>save</mat-icon>Registrarse</button>
  </div>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/login">¿Ya tienes cuenta? Ingresa</a>
  </div>
</div>

<style>
  #principal {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .botoncito {
    display: grid;
    place-items: center;
  }
</style>